@font-face{
    font-family: 'HarmonyOS Sans SC';
    font-display: swap;
    src: url('../font/HarmonyOS_SansSC_Regular.ttf') format("truetype"),
}

@font-face{
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('../font/JetBrainsMonoNL-Regular.ttf') format("truetype"),
         url('../font/JetBrainsMono-Regular.woff2') format("truetype");
}
body {
    font-family: 'JetBrains Mono';
}